# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data_csv = "weather_data.csv"
weather_data_csv

weather_data = pd.read_csv(weather_data_csv)

weather_df = pd.DataFrame(weather_data)
weather_df.sort_values('Max Temp', ascending=False)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
352,352,Porterville,1,US,1595116800,23,36.0652,-119.0168,105.17,7.25
121,121,Saint George,1,US,1595116800,11,37.1041,-113.5841,104.18,14.09
187,187,Laguna,1,US,1595116800,26,38.4210,-121.4238,100.78,7.67
443,443,Atar,37,MR,1595116800,19,20.5169,-13.0499,99.54,9.93
518,518,Dehlorān,0,IR,1595116800,9,32.6941,47.2679,97.88,8.25
...,...,...,...,...,...,...,...,...,...,...
113,113,Tuktoyaktuk,95,CA,1595116800,86,69.4541,-133.0374,40.82,12.66
70,70,Dikson,100,RU,1595116800,94,73.5069,80.5464,39.58,6.29
100,100,Barrow,95,US,1595116800,80,71.2906,-156.7887,37.33,11.54
52,52,Punta Arenas,69,CL,1595116800,88,-53.1500,-70.9167,33.67,7.29
7,7,Ushuaia,75,AR,1595116800,91,-54.8000,-68.3000,30.15,0.29

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_df[["Lat", "Lng"]].astype(float)

hum_rate = weather_df["Humidity"].astype(float)

In [5]:
# Create a poverty Heatmap layer
fig = gmaps.figure(center=(48.0, 0.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=hum_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1, opacity=1)

fig.add_layer(heat_layer)

plt.savefig("vacationheatmap.png")

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Create criteria for the perfect vacation climate
# A max temperature lower than 80 degrees but higher than 70.
crit_temperature = (weather_df['Max Temp'] < 106) & (weather_df['Max Temp'] > 75)
crit_windSpeed = (weather_df['Wind Speed'] < 15)
crit_cloudiness = (weather_df['Cloudiness'] < 10)
crit_humidity = (weather_df['Humidity'] < 50)
final_criteria = crit_temperature & crit_windSpeed & crit_cloudiness & crit_humidity

# Use boolean indexing to filter the weather_df dataframe
ideal_weather_df = weather_df[final_criteria]
ideal_weather_df = ideal_weather_df.dropna()
ideal_weather_df = ideal_weather_df.reset_index()
ideal_weather_df.sort_values('Max Temp', ascending=False)

,index,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
9,352,352,Porterville,1,US,1595116800,23,36.0652,-119.0168,105.17,7.25
1,121,121,Saint George,1,US,1595116800,11,37.1041,-113.5841,104.18,14.09
3,187,187,Laguna,1,US,1595116800,26,38.4210,-121.4238,100.78,7.67
15,518,518,Dehlorān,0,IR,1595116800,9,32.6941,47.2679,97.88,8.25
12,463,463,Iranshahr,8,IR,1595116800,41,27.2025,60.6848,94.28,3.42
4,191,191,Dipalpur,0,PK,1595116800,46,30.6709,73.6529,93.99,5.99
6,274,274,Sabha,3,LY,1595116800,24,27.0377,14.4283,90.88,14.36
13,493,493,Harnai,0,PK,1595116800,45,30.1005,67.9374,88.75,2.39
8,341,341,Bereket,0,TM,1595116800,27,39.2446,55.5154,87.12,5.21
10,403,403,Hazorasp,0,UZ,1595116800,33,41.3194,61.0742,84.99,5.66
7,305,305,Miajadas,0,ES,1595116800,32,39.1513,-5.9084,84.79,5.53
16,519,519,Diamantino,0,BR,1595116800,35,-14.4086,-56.4461,83.16,4.47
5,193,193,Ardakān,0,IR,1595116800,19,32.3100,54.0175,82.22,7.67
11,426,426,Assiut,0,EG,1595116800,43,27.1810,31.1837,81.32,7.74
2,151,151,Siverek,0,TR,1595116800,49,37.7550,39.3167,78.58,4.14
14,496,496,Altay,0,CN,1595116800,38,47.8667,88.1167,75.78,4.45
0,42,42,Farah,0,AF,1595116800,26,32.5000,62.5000,75.07,5.48

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = ideal_weather_df
# Add column for Hotel Name - Note that we used "" to specify initial entry.
hotel_df['Hotel Name'] = ""
hotel_df

,index,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,42,42,Farah,0,AF,1595116800,26,32.5000,62.5000,75.07,5.48,
1,121,121,Saint George,1,US,1595116800,11,37.1041,-113.5841,104.18,14.09,
2,151,151,Siverek,0,TR,1595116800,49,37.7550,39.3167,78.58,4.14,
3,187,187,Laguna,1,US,1595116800,26,38.4210,-121.4238,100.78,7.67,
4,191,191,Dipalpur,0,PK,1595116800,46,30.6709,73.6529,93.99,5.99,
5,193,193,Ardakān,0,IR,1595116800,19,32.3100,54.0175,82.22,7.67,
6,274,274,Sabha,3,LY,1595116800,24,27.0377,14.4283,90.88,14.36,
7,305,305,Miajadas,0,ES,1595116800,32,39.1513,-5.9084,84.79,5.53,
8,341,341,Bereket,0,TM,1595116800,27,39.2446,55.5154,87.12,5.21,
9,352,352,Porterville,1,US,1595116800,23,36.0652,-119.0168,105.17,7.25,
10,403,403,Hazorasp,0,UZ,1595116800,33,41.3194,61.0742,84.99,5.66,
11,426,426,Assiut,0,EG,1595116800,43,27.1810,31.1837,81.32,7.74,
12,463,463,Iranshahr,8,IR,1595116800,41,27.2025,60.6848,94.28,3.42,
13,493,493,Harnai,0,PK,1595116800,45,30.1005,67.9374,88.75,2.39,
14,496,496,Altay,0,CN,1595116800,38,47.8667,88.1167,75.78,4.45,
15,518,518,Dehlorān,0,IR,1595116800,9,32.6941,47.2679,97.88,8.25,
16,519,519,Diamantino,0,BR,1595116800,35,-14.4086,-56.4461,83.16,4.47,

In [8]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "Hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from hotel_df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
    #print(name_address.url)

    # convert to json
    name_address = name_address.json()
    #print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        #hotel_df.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
        #hotel_df.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
#hotel_df.info()

Missing field/result... skipping.

In [9]:
hotel_df

,index,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,42,42,Farah,0,AF,1595116800,26,32.5000,62.5000,75.07,5.48,
1,121,121,Saint George,1,US,1595116800,11,37.1041,-113.5841,104.18,14.09,Inn on The Cliff St. George
2,151,151,Siverek,0,TR,1595116800,49,37.7550,39.3167,78.58,4.14,SiVEREK OTEL
3,187,187,Laguna,1,US,1595116800,26,38.4210,-121.4238,100.78,7.67,Hampton Inn & Suites Sacramento-Elk Grove Lagu...
4,191,191,Dipalpur,0,PK,1595116800,46,30.6709,73.6529,93.99,5.99,Ghazi Hotel
5,193,193,Ardakān,0,IR,1595116800,19,32.3100,54.0175,82.22,7.67,Kheshtomah Ecolodge
6,274,274,Sabha,3,LY,1595116800,24,27.0377,14.4283,90.88,14.36,فندق المواجيد
7,305,305,Miajadas,0,ES,1595116800,32,39.1513,-5.9084,84.79,5.53,Hotel Triana
8,341,341,Bereket,0,TM,1595116800,27,39.2446,55.5154,87.12,5.21,Railway motel
9,352,352,Porterville,1,US,1595116800,23,36.0652,-119.0168,105.17,7.25,Holiday Inn Express & Suites Porterville
10,403,403,Hazorasp,0,UZ,1595116800,33,41.3194,61.0742,84.99,5.66,Kemping wifi hotel
11,426,426,Assiut,0,EG,1595116800,43,27.1810,31.1837,81.32,7.74,Florence Hotel Assiut
12,463,463,Iranshahr,8,IR,1595116800,41,27.2025,60.6848,94.28,3.42,هتل خنونه سرزه
13,493,493,Harnai,0,PK,1595116800,45,30.1005,67.9374,88.75,2.39,Sultan Tareen
14,496,496,Altay,0,CN,1595116800,38,47.8667,88.1167,75.78,4.45,Altay Regional Tourist Hotel
15,518,518,Dehlorān,0,IR,1595116800,9,32.6941,47.2679,97.88,8.25,هتل سعید
16,519,519,Diamantino,0,BR,1595116800,35,-14.4086,-56.4461,83.16,4.47,Hotel Villa Dos parecis

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# Add marker layer ontop of heat map

figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]
)


# Add layer
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)


plt.savefig("vacationHotelsheatmap.png")


# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…